@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/family-eating-at-the-table-619142_640.jpg">
    <p id="home-but">
        <a asp-controller="Meals">Go To The Meal App</a>
    </p>
</div>

<div class="text-center home-text-sec">
    <p class="home-text"><em>Consider five fundamental practices that have the power to fortify our youth: family prayer, family scripture study, family home evening, <strong>family dinner together</strong>, and regular one-on-one interviews with each child.<br>
    <br>- Larry R. Lawrence (Courageous Parenting October 2010)</em></p>
</div>
